.App-titulo {
  text-align: center;
}

.App-button {
    background-color: #4CAF50;
  }

.App-container {
    margin: 80px;
    height: 200px;
    width: 80%;
    background-color: #61dafb;
  }









